* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* border: 1px solid salmon; */
  height: 100vh;
}

div#date {
  text-transform: capitalize;
}

#date {
  /* border: 1px solid green; */
}

#time {
  /* border: 1px solid yellow; */
}

#container {
  /* border: 1px red solid; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}